body{
  background-color:#D1F0E8;
  font-family:arial;
  font-size:12pt;
  font-weight:bold;
}

h1, h2, h3, label, button{
  font-family: 'Nunito', sans-serif;
}


h1{
  padding:0;
  margin:0;
  
  
  margin-bottom:10px;
  text-align:center;
  font-weight:bold;
  padding-bottom:0.2em;
}


input{
      font-family: monospace;
}

p#description{
  text-align:center;
  margin:0;
  padding:0;
  padding-bottom:1em;
}
ul{
  padding:0;
  margin:0;
  list-style-type: none;
}

  li{
    padding:5px 0;
     margin:0;
  }
  
li input{
  margin:0 10px;
}

li label{
  margin:0;
 padding:0;
}
#description{
  font-size:1em;
  padding-bottom:10px;
}
.wrap{
  background-color:#98B1DD;
  max-width:650px;
  margin:3em auto;
  padding:2em;
  border-radius:10px;
}

.row{
  padding:30px 0;
  border-bottom:1px solid #000;
}

.row:nth-child(1){
  padding-top:0;
}

select, input, textarea{
  cursor: pointer;
}


select{
  max-width:199px;
  
}
input[type="checkbox"] {
  border:none;
  padding:0;
  margin:0;
}
.flex{
 display:flex;
   display: -webkit-flex; 
   -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
   display: flex;   
}


.flex input{ 
  border-radius:25px;
  width:169px;
  border:none;
  width:100%;
   padding:10px;
    box-sizing: border-box;

}


.flex label
{
  display:inline-block;
  padding-top:30px;
}

label
{
  display:inline-block;  
  padding:0 10px 12px 10px;
}

.column{
  width:200px;
}

div + div{
  padding-left:1em;
}

select{
  box-sizing: border-box;
  width:189px;
  padding:10px;
  
  border-radius:25px;
  border:none;
}

.container {
  display:block;
  position:relative;
  cursor:pointer;
  margin:0;
  padding:0;
  padding-left:23px;
  margin-left:10px;
  
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position:absolute;
  top:0;
  left:0;
  height:15px;
  width:15px;
  background-color:#fff;
  margin-top:3px;
  
}

.checkmark:after {
  content: "";
  position:absolute;
  display:none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
   content: "x";
  left: 3px;
  top: -4px;
}

.container2 {
  display:block;
  position:relative;
  cursor:pointer;
  margin:0;
  padding:0;
  padding-left:23px;
  margin-left:10px;
  
}

.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container2 .checkmark {
  position:absolute;
  top:0;
  left:0;
  height:15px;
  width:15px;
  background-color:#fff;
  margin-top:3px;
  border-radius:100px;
  
}

.container2 .checkmark:after {
  content: "";
  position:absolute;
  display:none;
}

.container2 input:checked ~ .checkmark:after {
  display: block;
}

.container2 .checkmark:after {
   content: "x";
  left: 3px;
  top: -4px;
}

textarea
{
  display:block;
  width:100%;
  max-width:650px;
  height:10em;
  padding:5px;
}

button{
  background-color:#D1F0E8;
   display:block;
  width:100%;
  height:40px;
  margin:0;
  padding:0;  
  border:0;
 
  color:#98B1DD;
  font-weight:bold;
}

button:hover{
  background-color:#c5d9d4;
  cursor: pointer;
}

input:focus, select:focus, textarea:focus{
  outline:none;
  border:none;
  background-color:#c5d9d4;
}
input, select, textarea{
  border:none;
}

@media (min-width: 1800px) {

 }
@media (min-width: 980px) and (max-width: 1200px) { 

}

@media (min-width: 768px) and (max-width: 979px) { 

}
 
@media (max-width: 767px) { 
  .flex input{
    width:100% !important;
  }
  .column{
    width:100% !important;
  }
  select{
    width:100%;
    max-width:100%;
  }
 
  div + div{
    padding-left:0;
  }
  .wrap{
    padding:1rem;
  }
 }

@media (max-width: 480px) { 
  
 }
